@{
    ViewData["Title"] = "Agri-Energy Connect Platform Proposal";
}

<style>
    :root {
        --text: #070809;
        --background: #f7f9fa;
        --primary: #386a8a;
        --secondary: #96c1db;
        --accent: #6cb1dc;
    }

    .custom-card {
        background-color: var(--secondary);
        border: 1px solid var(--accent);
        border-radius: 10px;
        padding: 20px;
    }

    .custom-card {
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .card-image {
        margin-left: 20px;
        max-width: 500px;
        max-height: 600px;
    }
</style>

<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Agri-Energy Connect Platform Proposal</h1>
        <p class="lead">Bridging Sustainable Agriculture with Green Energy Solutions</p>
    </div>

    <!-- Vision and Objectives Section -->
    <div class="card custom-card">
        <div class="card-body">
            <h2 class="text-center mb-4">Vision and Objectives</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/vision and objectives.jpg" alt="Vision and Objectives" class="card-image">
                </div>
                <div class="col-md-6">
                    <h5 class="text-justify">
                        Through the Agri-Energy Connect Platform, we aim to: <br><br>
                    </h5>
                    <ul class="text-lg-start">
                        <li>Our vision is to create a digital ecosystem that seamlessly connects sustainable agriculture practices with green energy solutions.</li>
                        <li>Empower farmers by providing them with tools and resources to adopt sustainable farming practices.</li>
                        <li>Facilitate the integration of renewable energy technologies into agricultural operations, reducing reliance on fossil fuels.</li>
                        <li>Foster collaboration and knowledge sharing among stakeholders in the agricultural and energy sectors.</li>
                        <li>Drive innovation in the intersection of agriculture and energy, leading to environmental sustainability and economic growth.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefits Section -->
    <div class="card custom-card">
        <div class="card-body">
            <h2 class="text-center mb-4">Benefits</h2>
            <p class="text-center">
                The Agri-Energy Connect Platform offers numerous benefits to stakeholders:<br><br>

                - Farmers can access resources to improve sustainability and profitability.<br>
                - Energy companies gain insights into agricultural energy consumption patterns.<br>
                - Government agencies can promote renewable energy adoption in the agricultural sector.<br>
                - Consumers benefit from a more sustainable and transparent food supply chain.<br>
            </p>
        </div>
    </div>

    <!-- Outreach Programs Section -->
    <div class="card custom-card">
        <div class="card-body">
            <h2 class="text-center mb-4">Outreach Programs</h2>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-justify">
                        To promote adoption and awareness of the Agri-Energy Connect Platform, we plan to launch several outreach programs:<br><br>
                    </h5>
                    <ul class="text-lg-start">
                        <li>Workshops and training sessions for farmers on sustainable agriculture and renewable energy technologies.</li>
                        <li>Webinars and conferences to facilitate knowledge sharing and networking among stakeholders.</li>
                        <li>Collaboration with agricultural organizations and research institutions to conduct pilot projects and studies.</li>
                        <li>Outreach campaigns targeting policymakers, industry leaders, and the general public to advocate for sustainable practices.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="~/images/outreach program.png" alt="Outreach Programs" class="card-image">
                </div>
            </div>
        </div>
    </div>

    <div class="card custom-card">
        <div class="card-body text-center">
            <h2 class="text-center mb-4">Location</h2>
            <h4>Our Head Offcie</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.031551940921!2d19.2055032!3d50.029504599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716950916233a3d%3A0x1e1757beb7d03ff2!2sCentrum%20Obs%C5%82ugi%20Odwiedzaj%C4%85cych%20Muzeum%20Auschwitz-Birkenau!5e0!3m2!1sen!2sza!4v1712665034622!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <div class="card custom-card">
        <div class="card-body">
            <h2 class="text-center mb-4">Contact Us</h2>
            <p class="text-center">
                Our Contact Information<br><br>

                <strong>Email:</strong> agrienergy@gmail.com<br>
                <strong>Phone:</strong> 01522 343333<br>
                <strong>Address:</strong> Więźniów Oświęcimia 55 Street, Oświęcim ,Poland<br>
            </p>
        </div>
    </div>
</div>